.dashboardContainer {
  background-color: #2c2c2c;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userPhotoContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 40px;
}

.userPhoto {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.userData {
  margin-top: 30px;
  margin-left: 75px;
}

.username {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 25px; 
  font-weight: bold;
}

.userPoints {
  margin: 0;
}

.userContainer {
  display: flex;
  flex-direction: column;
}

.myCollection {
  font-size: 20px;
  margin-left: 30px;
}

.collectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider {
  width: 1000px;
  margin-top: 10px;
  margin-left: 30px;
  border: none;
  border-bottom: 1px solid white;
}