.dashboardContainer {
  background-color: #2c2c2c;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userPhotoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 40px;
}

.userPhoto {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.userData {
  margin-left: 30px;
}

.userNameContainer{
  margin-top: 25px;
}

.username {
  margin-left: 30px;
  font-size: 25px; 
  font-weight: bold;
}

.userContainer {
  display: flex;
  flex-direction: row;
}

.myCollection {
  font-size: 20px;
  margin-left: 30px;
}

.dividerContainer {
  display: flex;
  flex-direction: column;
}

.collectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider {
  width: 1000px;
  margin-top: 10px;
  margin-left: 30px;
  border: none;
  border-bottom: 1px solid white;
}

.gamesContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.gameCover {
  width: 140px;
  height: 180px;
  margin-bottom: 10px;
}

.gameTitle {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

