/* AchievementsRow.module.css */

.achievementsRow {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .achievementsHeader {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .achievementsImages {
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    justify-content: space-evenly;
    width: 90%;
    overflow-x: auto;
  }
  
  .achievement {
    text-align: center;
  }
  
  .achievementImage {
    margin-top: 10px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .achievementName {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .viewAllButton {
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    text-align: right; 
  }