/* Resetando margens e paddings para a página inteira */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Aplicando fundo cinza para a página inteira */
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}