/* HomePage.css */

.bodyHomePage {
  background-color: #161616; 
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerText {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 40px;
}

.headerText h1 {
  font-size: 18px;
  margin-top: 30px;
}

.subHeaderText {
  display: flex;
  align-self: space-between;
  margin-left: 150px;
  margin-top: 15vh;
}

.smallText {
  font-size: 25px;
  margin-bottom: 5px; 
}

.largeText {
  font-size: 48px;
}

.loginButton {
  margin-top: 15px;
  margin-right: 40px;
}

.signupButton {
  margin-left: 3px;
}

.image {
  width: 450px; 
  height: 275px; 
  margin-left: 300px; 
  margin-top: 20px;
  box-shadow: 5px 5px 0 0 #ca8324, 
    5px 5px 0 0 #ca8324; 
}